publicsuffix2
dnspython3
celery<5.0.0
flower
amqp
sqlalchemy
psycopg2-binary
Jinja2
sqlalchemy-utils
sentry_sdk
sendgrid
redis
sphinx
sphinx_rtd_theme
alembic
requests
gevent
coverage
validate_email
pylint
